---
---

<header>
  <div class="content">
    <div class="branding">
      <a href=`${import.meta.env.BASE_URL}`>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          fill="currentColor"
          viewBox="0 0 864 864"
        >
          <g>
            <path
              class="ls0"
              d="M420.5,134.8v594.3c-18.5-0.7-36.5-3.1-54-7c-94.6-21.2-172.1-87.6-208.9-175.2l49.8-20.9	c12.1,28.8,29.8,55.3,52.5,78c30.1,30.1,66.7,51.3,106.6,62.4v-469c-39.9,11.1-76.5,32.3-106.6,62.4c-5.2,5.2-10.2,10.6-14.8,16.2	l-41.5-34.6c41.2-49.3,98-85.1,162.9-99.7C384,137.9,402,135.5,420.5,134.8z"
            ></path>
            <g>
              <path
                class="ls0"
                d="M659.1,432l63.5-63.5c-3-13.8-7-27.3-11.8-40.3C676.1,235,596,164,497.5,141.9c-17.5-3.9-35.5-6.3-54-7v594.3 c18.5-0.7,36.5-3.1,54-7C596,700,676.1,629,710.8,535.8c4.9-13,8.8-26.5,11.8-40.3L659.1,432z M497.5,197.5 c39.9,11.1,76.5,32.3,106.6,62.4c26.6,26.6,46.2,58.2,58.1,92.6L609.7,405H497.5V197.5z M604.1,604.1 c-30.1,30.1-66.7,51.3-106.6,62.4V459h112.2l11.2,11.2l41.3,41.3C650.3,545.9,630.7,577.5,604.1,604.1z"
              ></path>
            </g>
          </g>
        </svg>
      </a>
    </div>
    <div class="nav-text">
      <a href=`${import.meta.env.BASE_URL}`>Home</a>
      <a href=`${import.meta.env.BASE_URL}about/`>About</a>
      <a href=`${import.meta.env.BASE_URL}cv/`>CV</a>
    </div>
    <div class="nav-icon">
      <a href=`${import.meta.env.BASE_URL}`>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 576 512"
        >
          <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"
          ></path>
        </svg>
      </a>
      <a href=`${import.meta.env.BASE_URL}about/`>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            fill="currentColor"
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
          ></path>
        </svg>
      </a>
      <a href=`${import.meta.env.BASE_URL}cv/`>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 576 512"
        >
          <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</header>

<style>
  header {
    background-color: var(--baseColor);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .content {
    width: var(--content-box__max-width);
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  .branding {
    font-family: "PT Serif", sans-serif;
  }

  .branding a {
    width: 4rem;
    display: block;
    color: var(--baseColorAccent);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 2rem;
  }

  .nav-text a {
    display: block;
    color: var(--baseColorText);
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
  }

  a:hover {
    color: var(--baseColorAccent);
  }

  .nav-icon {
    display: none;
    width: 100%;
  }

  .nav-icon a {
    width: 2rem;
  }

  @media (max-width: 600px) {
    .nav-icon {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .nav-text {
      display: none;
    }
  }
</style>
